* {
    font-family: Comfortaa, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-areas: 'header header' 'nav main' 'footer footer';

}

header {
    grid-area: header;
    background-color: #064c35;
    color: #a4f8dc;
    padding: 1rem;
}

nav {
    grid-area: nav;
    padding: 1rem;
}

#main {
    grid-area: main;
    padding: 1rem;
    background-color: #edd;
}

footer {
    grid-area: footer;
    padding: 1rem;
    background-color: #064c35;
    color: #a4f8dc;
}

.myForm {
    padding: 1rem;
    margin: 1rem;
    border: 2px solid #f00;
}