{% extends "base.html" %}

{% block title %}tutor class{% endblock %}

{% block pageheading %}Tutor Class List{% endblock %}

{% block main %}
    <h3>Students taking 13DTS from {{ tutor_class }}</h3>
    <table>
    <tr>
        <th>Name</th>
        <th>School ID</th>
        <th>Email</th>
    </tr>
    {% for student in students %}
    <tr>
        <td>{{ student[3] }}, {{ student[4] }}</td>
        <td>{{ student[2] }}</td>
        <td>{{ student[6] }}</td>
    </tr>
    {% endfor %}
    </table>
    {% if logged_in %}
        <form class="myForm" method="post">
            <h3>Add A Student To This Class</h3>
            <div class="form-group">
                <div class="form-label"><label for="surname">Surname:</label></div>
                <div class="form-element"><input type="text" name="surname" id="surname" required></div>
            </div>

            <div class="form-group">
                <div class="form-label"><label for="first_name">First Name:</label></div>
                <div class="form-element"><input type="text" name="first_name" id="first_name" required></div>
            </div>

            <div class="form-group">
                <div class="form-label"><label for="year_level">Year Level:</label></div>
                <div class="form-element"><input type="number" name="year_level" id="year_level" min="9" max="13" step="1" required></div>
            </div>

            <div class="form-group">
                <div class="form-label"><label for="schl_id">School Id:</label></div>
                <div class="form-element"><input type="number" name="schl_id" id="schl_id" min="21000" max="21999" step="1" required></div>
            </div>

            <div class="form-group">
                <div class="form-label"><label for="email">Email Address:</label></div>
                <div class="form-element"><input type="email" name="email" id="email" required></div>
            </div>

            <div class="form-group">
                <div></div>
                <div class="form-element"><input type="reset"></div>
            </div>

            <div class="form-group">
                <div></div>
                <div class="form-element"><input type="submit"></div>
            </div>
        </form>
        {% endif %}

{% endblock %}